<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    
    <title>管加车间管理系统</title>
    <!--<meta name="keywords" content="若依,若依开源,若依框架,若依系统,ruoyi">-->
    <!--<meta name="description" content="若依基于SpringBoot2.0的权限管理系统 易读易懂、界面简洁美观。 核心技术采用Spring、MyBatis、Shiro没有任何其它重度依赖">-->
    <link href="../../static/admin/css/bootstrap.min.css" th:href="@{/admin/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../../static/admin/css/font-awesome.min.css" th:href="@{/admin/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../../static/admin/css/style.css" th:href="@{/admin/css/style.css}" rel="stylesheet"/>
    <link href="../../static/admin/css/login.css" th:href="@{/admin/css/login.css}" rel="stylesheet"/>
    <link href="../../static/admin/ajax/libs/iCheck/custom.css" th:href="@{/admin/ajax/libs/iCheck/custom.css}" rel="stylesheet"/>
    <link href="../../static/admin/ruoyi/css/ry-ui.css" th:href="@{/admin/ruoyi/css/ry-ui.css?v=3.1.0}" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <link rel="shortcut icon" href="../../static/admin/favicon.ico" th:href="@{/admin/favicon.ico}"/>
    <style type="text/css">label.error { position:inherit;  }</style>
    <script>
        if(window.top!==window.self){window.top.location=window.location};
    </script>
</head>

<body>







<script th:inline="javascript"> var ctx = [[@{/}]]; var captchaType = [[${captchaType}]];

//    webPrefix 网站资源后缀
    var webPrefix = "admin";
</script>
<!-- 全局js -->
<script src="../../static/admin/js/jquery.min.js" th:src="@{/admin/js/jquery.min.js}"></script>
<script src="../../static/admin/js/bootstrap.min.js" th:src="@{/admin//js/bootstrap.min.js}"></script>
<!-- 验证插件 -->
<script src="../../static/admin/ajax/libs/validate/jquery.validate.min.js" th:src="@{/admin/ajax/libs/validate/jquery.validate.min.js}"></script>
<script src="../../static/admin/ajax/libs/validate/messages_zh.min.js" th:src="@{/admin/ajax/libs/validate/messages_zh.min.js}"></script>
<script src="../../static/admin/ajax/libs/layer/layer.min.js" th:src="@{/admin/ajax/libs/layer/layer.min.js}"></script>
<script src="../../static/admin/ajax/libs/iCheck/icheck.min.js" th:src="@{/admin/ajax/libs/iCheck/icheck.min.js}"></script>
<script src="../../static/admin/ajax/libs/blockUI/jquery.blockUI.js" th:src="@{/admin/ajax/libs/blockUI/jquery.blockUI.js}"></script>
<!--<script src="http://tajs.qq.com/stats?sId=62048022"></script>-->
<script src="../../static/admin/ruoyi/js/ry-ui.js" th:src="@{/admin/ruoyi/js/ry-ui.js?v=3.1.0}"></script>
<script src="../../static/admin/ruoyi/js/common-data.js" th:src="@{/admin/ruoyi/js/common-data.js}"></script>
</body>
</html>
