<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="genPlan">
                <div class="select-list">
                    <ul>
                        <li>
                            生产计划文件：<select id="selectPlan">
                            <option th:each="file,iterStat : ${planFiles}" th:text="${file.fileName}"
                                    th:value="${file.id}"></option>
                        </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="readXlsFile()"><i
                                    class="fa fa-file-excel-o"></i>&nbsp;生成计划</a>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="AnalysisPlans()"><i
                                    class="fa fa-file-excel-o"></i>&nbsp;解析计划和管件关系</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            计划名称：
                            <select name="planName" id="select-planName">
                            </select>
                        </li>
                        <li>
                            船名：
                            <select name="shipName" id="select-shipName">
                            </select>
                        </li>
                        <li>
                            加工批次：
                            <select name="batchName" id="select-batchName">
                            </select>
                        </li>

                        <li>
                            批次描述：<input type="text" name="batchDescription"/>
                        </li>

                        <li>
                            加工工段：<input type="text" name="processPlace"/>
                        </li>
                        <li>
                            备注：<input type="text" name="remark"/>
                        </li>

                        <li>
                            是否完工：
                            <select name="isFinished" th:with="type=${@dict.getType('user_yes_no')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            解析状态：
                            <select name="analysisStatus" th:with="type=${@dict.getType('user_analysis_status')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search('formId')"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset('formId')"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="pipe:processPlan:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()"
               shiro:hasPermission="pipe:processPlan:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="pipe:processPlan:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="pipe:processPlan:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('pipe:processPlan:edit')}]];
    var removeFlag = [[${@permission.hasPermi('pipe:processPlan:remove')}]];
    var datas = [[${@dict.getType('user_yes_no')}]];
    var user_analysis_status = [[${@dict.getType('user_analysis_status')}]];

    var prefix = ctx + webPrefix + "/pipe/processPlan";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "加工计划",
            search: false,
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '系统id',
                    visible: false
                },
                {
                    field: 'serialNumber',
                    title: '序号',
                    sortable: true
                },
                {
                    field: 'planName',
                    title: '计划名称',
                    sortable: true
                },
                {
                    field: 'shipName',
                    title: '船名',
                    sortable: true
                },
                {
                    field: 'batchName',
                    title: '加工批次',
                    sortable: true
                },
                {
                    field: 'batchDescription',
                    title: '加工批次描述',
                    sortable: true
                },
                {
                    field: 'createTime',
                    title: '上传时间',
                    sortable: true
                },
                {
                    field: 'stocks',
                    title: '包含托盘',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'sections',
                    title: '包含分段',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'processPlace',
                    title: '加工工段',
                    sortable: true
                },
                {
                    field: 'number',
                    title: '加工数量',
                    sortable: true
                },
                {
                    field: 'lightBodyPipe',
                    title: '含光身管',
                    sortable: true
                },
                {
                    field: 'planEnd',
                    title: '计划开始时间',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'planStart',
                    title: '计划结束时间',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'actualStart',
                    title: '实际开始时间',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'actualEnd',
                    title: '实际结束时间',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'middleDate',
                    title: '10-12计划',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'sendPicTime',
                    title: '发图时间',
                    sortable: true
                },
                {
                    field: 'remark',
                    title: '备注',
                    sortable: true
                },
                {
                    field: 'isFinished',
                    title: '是否完工',
                    formatter: function (value, item, index) {
                        return $.table.selectDictLabel(datas, item.isFinished);
                    }
                },
                {
                    field: 'analysisStatus',
                    title: '解析状态',
                    formatter: function (value, item, index) {
                        return $.table.selectDictLabel(user_analysis_status, item.analysisStatus);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-primary btn-xs ' + editFlag + '" href="#" onclick="AnalysisPlan(\'' + row.id + '\')"><i class="fa fa-file-excel-o"></i>解析</a> ');
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    // 生成计划确认
    function readXlsFile() {
        var selectFileId = $("#selectPlan").val();
        $.modal.confirm("确定要生成该生产计划吗？", function () {
            var data = {"id": selectFileId};
            $.operate.post("/admin/file/readXlsFile", data);
        })
    }
    // 解析计划确认
    function AnalysisPlan(planId) {
        $.modal.confirm("确定要解析该批次的生产计划吗？", function () {
            var data = {"id": planId};
            $.operate.post("/admin/pipe/processPlan/analysisPlanByPlanName", data);
        })
    }
    // 解析计划确认
    function AnalysisPlans() {
        var selectFileId = $("#selectPlan").val();
        $.modal.confirm("确定要解析该生产计划吗？", function () {
            var data = {"name": selectFileId};
            $.operate.post("/admin/pipe/processPlan/analysisProcessPlan", data);
        })
    }
</script>
<script>
    var urlPostPlanNameList = "/admin/pipe/processPlan/selectPlanNameList";
    var selectorPlan = $("#select-planName");

    var urlGetShipSimpleList =  "/admin/pipe/ship/selectShipSimpleList";
    var urlPostBatchSimpleList = "/admin/pipe/batch/selectByShipName";
    var selectorShip = $("#select-shipName");
    var selectorBatch = $("#select-batchName");

    $(document).ready(function(){
        //计划selector
        var getPlanParam = {"isFinished":""};
        var planNameList = ajaxGet(urlPostPlanNameList,getPlanParam,"post");
        fullPlanSelector(planNameList);

        var getShipParam = {"isFinished":""};
        var resultData = ajaxGet(urlGetShipSimpleList,getShipParam,"get");
        fullShipSelecter(resultData);

        selectorShip.change(function(){
            var shipName = selectorShip.val();

            var getBatchParam = {"shipName":shipName};
            resultData = ajaxGet(urlPostBatchSimpleList,getBatchParam,"post");
            fullSelecter(selectorBatch,resultData);
        });

    });
    function fullPlanSelector(data) {
        selectorPlan.empty();
        var str = "<option value=\"\">所有</option>";
        for(var i=0;i<data.length;i++){
            str += "<option value=\""+data[i]+"\">"+data[i]+"</option>";
        }
        selectorPlan.append(str);
    }

    function fullShipSelecter(data) {
        selectorShip.empty();
        var str = "<option value=\"\">所有</option>";
        for(var i=0;i<data.length;i++){
            str += "<option value=\""+data[i].shipName+"\">"+data[i].shipName+"</option>";
        }
        selectorShip.append(str);
    }
    function fullSelecter(selector,data) {
        selector.empty();
        var str = "<option value=\"\">所有</option>";
        for(var i=0;i<data.length;i++){
            str += "<option value=\""+data[i].name+"\">"+data[i].name+"</option>";
        }
        selector.append(str);
    }
</script>
</body>
</html>