<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-batchArrange-edit" th:object="${batchArrange}">
        <input id="id" name="id" th:field="*{id}" type="hidden">

        <div class="form-group">
            <label class="col-sm-3 control-label">加工批次：</label>
            <div class="col-sm-8">
                <input th:field="*{batchName}" class="form-control" readonly>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">是否完工：</label>
            <div class="col-sm-8">
                <input th:field="*{isFinished}" class="form-control" readonly>
            </div>
        </div>
        <div th:if="${batchArrange.isFinished == 1}" class="form-group">
            <label class="col-sm-3 control-label">完工时间：</label>
            <div class="col-sm-8">
                <input th:field="*{finishedDate}" class="form-control" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">该次计划下料总数：</label>
            <div class="col-sm-8">
                <input th:field="*{totalCutNumber}" class="form-control" readonly>
            </div>
        </div>
        <div th:if="${batchArrange.onebigCutNumber > 0}" class="form-group">
            <label class="col-sm-3 control-label">一部大管下料工段-下料数：</label>
            <div class="col-sm-8">
                <input th:field="*{onebigCutNumber}" class="form-control" readonly>
            </div>
        </div>

        <div th:if="${batchArrange.oneTotalNumber > 0}" class="form-group">
            <label class="col-sm-3 control-label">一部下料工段-下料数：</label>
            <div class="col-sm-8">
                <input th:field="*{oneTotalNumber}" class="form-control" readonly>
            </div>
        </div>

        <div th:if="${batchArrange.twoTotalNumber > 0}" class="form-group">
            <label class="col-sm-3 control-label">二部下料工段-下料数：</label>
            <div class="col-sm-8">
                <input th:field="*{twoTotalNumber}" class="form-control" readonly>
            </div>
        </div>
        <div th:if="${batchArrange.onebigCutNumber > 0}"  class="form-group">
            <label class="col-sm-3 control-label">一部大管下料工段-派工：</label>
            <div class="col-sm-8">
                <input  th:value="${OnebigCut.deptId}" id="onebigCutId" type="hidden">
                <input  class="form-control" th:value="${OnebigCut.workplaceName}" onclick="selectOnebigTree()" readonly id="onebigCut">
            </div>
        </div>

        <div th:if="${batchArrange.oneTotalNumber > 0}" class="form-group">
            <label class="col-sm-3 control-label">一部下料工段-派工：</label>
            <div class="col-sm-8">
                <input  th:value="${OneCut.deptId}" id="oneCutId" type="hidden">
                <input  class="form-control"  th:value="${OneCut.workplaceName}" onclick="selectOneTree()" readonly id="oneCut">
            </div>
        </div>

        <div th:if="${batchArrange.twoTotalNumber > 0}" class="form-group">
            <label class="col-sm-3 control-label">二部下料工段-派工：</label>
            <div class="col-sm-8">
                <input  th:value="${TwoCut.deptId}" id="twoCutId" type="hidden">
                <input  class="form-control" th:value="${TwoCut.workplaceName}" onclick="selectTwoTree()" readonly id="twoCut">
            </div>
        </div>

    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    ctx = ctx + webPrefix + "/";
    var prefix = ctx + "process/batchArrange";
    $("#form-batchArrange-edit").validate({
        rules: {
            xxxx: {
                required: true,
            },
        }
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-batchArrange-edit').serialize());
        }
    }
    /*Onebig-选择部门树*/
    function selectOnebigTree() {
        var deptId = $("#onebigCutId").val();
        var url = ctx + "system/workplace/selectArrangeTree/" + deptId;
        var options = {
            title: '选择工位',
            width: "380",
            url: url,
            callBack: doSubmit1
        };
        $.modal.openOptions(options);
    }
    function doSubmit1(index, layero){
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        if ($.tree.notAllowParents(tree)) {
            var body = layer.getChildFrame('body', index);
            $("#onebigCutId").val(body.find('#treeId').val());
            $("#onebigCut").val(body.find('#treeName').val());
            layer.close(index);
        }
    }
    /*oneCut-选择部门树*/
    function selectOneTree() {
        var deptId = $("#oneCutId").val();
        var url = ctx + "system/workplace/selectArrangeTree/" + deptId;
        var options = {
            title: '选择工位',
            width: "380",
            url: url,
            callBack: doSubmit2
        };
        $.modal.openOptions(options);
    }
    function doSubmit2(index, layero){
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        if ($.tree.notAllowParents(tree)) {
            var body = layer.getChildFrame('body', index);
            $("#oneCutId").val(body.find('#treeId').val());
            $("#oneCut").val(body.find('#treeName').val());
            layer.close(index);
        }
    }
    /*twoCut-选择部门树*/
    function selectTwoTree() {
        var deptId = $("#twoCutId").val();
        var url = ctx + "system/workplace/selectArrangeTree/" + deptId;
        var options = {
            title: '选择工位',
            width: "380",
            url: url,
            callBack: doSubmit3
        };
        $.modal.openOptions(options);
    }
    function doSubmit3(index, layero){
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        if ($.tree.notAllowParents(tree)) {
            var body = layer.getChildFrame('body', index);
            $("#twoCutId").val(body.find('#treeId').val());
            $("#twoCut").val(body.find('#treeName').val());
            layer.close(index);
        }
    }
</script>
</body>
</html>
