<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-taoliaoOrigin-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">对应的process_taoliao的id：</label>
				<div class="col-sm-8">
					<input id="taoliaoId" name="taoliaoId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">原材料：</label>
				<div class="col-sm-8">
					<input id="material" name="material" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">原材料长度：</label>
				<div class="col-sm-8">
					<input id="originLength" name="originLength" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">原材料编号：</label>
				<div class="col-sm-8">
					<input id="originIndex" name="originIndex" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">套料算法：</label>
				<div class="col-sm-8">
					<input id="algorithm" name="algorithm" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">剩余长度：</label>
				<div class="col-sm-8">
					<input id="remainLength" name="remainLength" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">套料管子数：</label>
				<div class="col-sm-8">
					<input id="pipeNumber" name="pipeNumber" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
        ctx = ctx + webPrefix+"/";
		var prefix = ctx + "process/taoliaoOrigin";
		$("#form-taoliaoOrigin-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-taoliaoOrigin-add').serialize());
	        }
	    }
	</script>
</body>
</html>
