<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-pipPipe-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="areaCode" name="areaCode" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="segmentCode" name="segmentCode" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="trayCode" name="trayCode" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="assemblyCode" name="assemblyCode" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="setCode" name="setCode" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
        ctx = ctx + webPrefix+"/";
		var prefix = ctx + "pipe/pipPipe";
		$("#form-pipPipe-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-pipPipe-add').serialize());
	        }
	    }
	</script>
</body>
</html>
