<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-taoliaoOnline-edit" th:object="${taoliaoOnline}">
        <input id="id" name="id" th:field="*{id}" type="hidden">
        <div class="form-group" hidden>
            <label class="col-sm-3 control-label">对应的计划id：</label>
            <div class="col-sm-8">
                <input id="planId" name="planId" th:field="*{planId}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group" hidden>
            <label class="col-sm-3 control-label">批次id：</label>
            <div class="col-sm-8">
                <input id="batchId" name="batchId" th:field="*{batchId}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group" hidden>
            <label class="col-sm-3 control-label">套料人id：</label>
            <div class="col-sm-8">
                <input id="cuterId" name="cuterId" th:field="*{cuterId}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group" hidden>
            <label class="col-sm-3 control-label">对应的派工单id：</label>
            <div class="col-sm-8">
                <input id="arrangeId" name="arrangeId" th:field="*{arrangeId}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">管材：</label>
            <div class="col-sm-8">
                <input id="pipeMaterial" name="pipeMaterial" th:field="*{pipeMaterial}" class="form-control"
                       type="text" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">管子总长度：</label>
            <div class="col-sm-8">
                <input id="totalLength" name="totalLength" th:field="*{totalLength}" class="form-control" type="text"
                       readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">包含管数量：</label>
            <div class="col-sm-8">
                <input id="pipeNumber" name="pipeNumber" th:field="*{pipeNumber}" class="form-control" type="text"
                       readonly>
            </div>
        </div>
        <div class="form-group" hidden>
            <label class="col-sm-3 control-label">是否已套料：</label>
            <div class="col-sm-8">
                <input id="isTaoliao" name="isTaoliao" th:field="*{isTaoliao}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group" hidden>
            <label class="col-sm-3 control-label">更新时间：</label>
            <div class="col-sm-8">
                <input id="updateTime" name="updateTime" th:field="*{updateTime}" class="form-control" type="text">
            </div>
        </div>
    </form>

    <div class="table-box" style="margin: 20px;">
        <div id="toolbar">
            <button id="button" class="btn btn-info"><i class="fa fa-plus fa-lg"></i>增加一行</button>
            <button id="resetTable" class="btn btn-danger"><i class="fa fa-trash-o fa-lg"></i>清空表格</button>
            <input id="inputLength" placeholder="原材料长度" type="text">
            <input id="inputNumber"  placeholder="原材料数量" type="text">
            <button id="btnAdd" class="btn btn-success"><i class="fa fa-check fa-lg"></i>添加</button>
        </div>
        <table id="table"></table>
    </div>
</div>


<div th:include="include::footer"></div>
<script type="text/javascript">

    var prefix = ctx + webPrefix + "/process/taoliaoOnline";
    $("#form-taoliaoOnline-edit").validate({
        rules: {
            xxxx: {
                required: true,
            },
        }
    });

    var countNumber = 0;
    $('#button').click(function () {
        countNumber++;
        $('#table').bootstrapTable('insertRow', {
            index: 0,
            row: {
                id: countNumber,
                originLength: '',
                originNumber: ''
            }
        });
    });
    $("#resetTable").click(function () {
        countNumber=0;
        var length = $('#table').bootstrapTable('getData').length;
        for(var i=length; i>0; i--){
            $('#table').bootstrapTable('remove', {
                field:'id',
                values: [i]
            })
        }
    });
    $('#btnAdd').click(function () {
        countNumber++;
        var length = $("#inputLength").val();
        var number = $("#inputNumber").val();
        $('#table').bootstrapTable('insertRow', {
            index: 0,
            row: {
                id: countNumber,
                originLength: length,
                originNumber: number
            }
        });
        $("#inputLength").val("");
        $("#inputNumber").val("");
    });
    function DeleteByIds(index) {
        alert(index);
        $('#table').bootstrapTable('remove', {
            filed: 'id',
            value: [parseInt(index)]
        });
    }
    $('#table').bootstrapTable({
        url: '',
        toolbar: '#toolbar',
        //clickEdit: true,
        //showToggle: true,
        //pagination: true,       //显示分页条
        showColumns: true,
        //showPaginationSwitch: true,     //显示切换分页按钮
        showRefresh: true,      //显示刷新按钮
        //clickToSelect: true,  //点击row选中radio或CheckBox
        columns: [{
            field: 'id',
            title: '序号'
        }, {
            field: 'originLength',
            title: '原材料长'
        }, {
            field: 'originNumber',
            title: '原材料数量'
        }, {
            title: '操作',
            align: 'center',
            formatter: function (value, row, index) {
//                        var id = value;
//                        var result = "";
//                        result += "<a href='javascript:;' class='btn btn-xs red' onclick=\"DeleteByIds('" +
//                            (index+1) + "')\" title='删除'>删除</a>";
//                        return result;

                //alert(value + row + index);
                var actions = [];
                actions.push('<a class="btn btn-danger btn-xs deleteRow" href="javascript:;" onclick="DeleteByIds(\''+ row.id + '\')" ><i class="fa fa-remove"></i>删除</a>');
                return actions.join('');
            }
        }],
        /**
         * @param {点击列的 field 名称} field
         * @param {点击列的 value 值} value
         * @param {点击列的整行数据} row
         * @param {td 元素} $element
         */
        onClickCell: function (field, value, row, $element) {
            //field = "originNumber", value = "45", row = {id: 1, originLength: "45", originNumber: "45"}
            $element.attr('contenteditable', true);
            $element.blur(function () {
                var index = $element.parent().data('index');
                var tdValue = $element.html();
                saveData(index, field, tdValue);
            })
        }
    });

    $('#getTableData').click(function () {
        alert(JSON.stringify($('#table').bootstrapTable('getData')));
    });

    function saveData(index, field, value) {
        $('#table').bootstrapTable('updateCell', {
            index: index,       //行索引
            field: field,       //列名
            value: value        //cell值
        })
    }
    $(function () {


    });


    function submitHandler() {
        var tableData = $('#table').bootstrapTable('getData');
        //json数组
        var id = $("#id").val();
        //var originInfoList = JSON.stringify($('#table').bootstrapTable('getData'));
        //var taoliao = $('#form-taoliaoOnline-edit').serialize();
        var datas = {"id":id,"originInfoList":tableData};
        var jsonDatas = JSON.stringify(datas);
        //x=$("form").serializeArray();
        //alert(jsonDatas);
        //alert(datas);
        //要对输入的数据进行校验一下
        if ($.validate.form()) {
            //再次确认
            //$.modal.confirm("确定要对该下料计划派工吗？", function () {
            //});
            $.operate2.saveJson(prefix + "/edit",jsonDatas);
        }
        else{

        }
    }
</script>
</body>
</html>
