<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.pipe.pipMaterial.mapper.PipMaterialMapper">
    
    <resultMap type="PipMaterial" id="PipMaterialResult">
        <result property="oldId"    column="old_id"    />
        <result property="midOid"    column="mid_oid"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="isUpdate"    column="is_update"    />
        <result property="shapeShipId"    column="shape_ship_id"    />
        <result property="assemblyPipeId"    column="assembly_pipe_id"    />
        <result property="componentId"    column="component_id"    />
        <result property="pipeEndFlag"    column="pipe_end_flag"    />
        <result property="number"    column="number"    />
        <result property="weight"    column="weight"    />
        <result property="outfieldFlag"    column="outfield_flag"    />
    </resultMap>
	
	<sql id="selectPipMaterialVo">
        select old_id, mid_oid, is_delete, is_update, shape_ship_id, assembly_pipe_id, component_id, pipe_end_flag, number, weight, outfield_flag from pipe_pip_material
    </sql>
	
    <select id="selectPipMaterialList" parameterType="PipMaterial" resultMap="PipMaterialResult">
        <include refid="selectPipMaterialVo"/>
        <where>  
            <if test="oldId != null "> and old_id = #{oldId}</if>
             <if test="midOid != null "> and mid_oid = #{midOid}</if>
             <if test="isDelete != null "> and is_delete = #{isDelete}</if>
             <if test="isUpdate != null "> and is_update = #{isUpdate}</if>
             <if test="shapeShipId != null "> and shape_ship_id = #{shapeShipId}</if>
             <if test="assemblyPipeId != null "> and assembly_pipe_id = #{assemblyPipeId}</if>
             <if test="componentId != null "> and component_id = #{componentId}</if>
             <if test="pipeEndFlag != null  and pipeEndFlag != '' "> and pipe_end_flag = #{pipeEndFlag}</if>
             <if test="outfieldFlag != null  and outfieldFlag != '' "> and outfield_flag = #{outfieldFlag}</if>
         </where>
    </select>
    
    <select id="selectPipMaterialById" parameterType="Integer" resultMap="PipMaterialResult">
        <include refid="selectPipMaterialVo"/>
        where old_id = #{oldId}
    </select>
        
    <insert id="insertPipMaterial" parameterType="PipMaterial">
        insert into pipe_pip_material
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="oldId != null  ">old_id,</if>
			<if test="midOid != null  ">mid_oid,</if>
			<if test="isDelete != null  ">is_delete,</if>
			<if test="isUpdate != null  ">is_update,</if>
			<if test="shapeShipId != null  ">shape_ship_id,</if>
			<if test="assemblyPipeId != null  ">assembly_pipe_id,</if>
			<if test="componentId != null  ">component_id,</if>
			<if test="pipeEndFlag != null  and pipeEndFlag != ''  ">pipe_end_flag,</if>
			<if test="number != null  ">number,</if>
			<if test="weight != null  ">weight,</if>
			<if test="outfieldFlag != null  and outfieldFlag != ''  ">outfield_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="oldId != null  ">#{oldId},</if>
			<if test="midOid != null  ">#{midOid},</if>
			<if test="isDelete != null  ">#{isDelete},</if>
			<if test="isUpdate != null  ">#{isUpdate},</if>
			<if test="shapeShipId != null  ">#{shapeShipId},</if>
			<if test="assemblyPipeId != null  ">#{assemblyPipeId},</if>
			<if test="componentId != null  ">#{componentId},</if>
			<if test="pipeEndFlag != null  and pipeEndFlag != ''  ">#{pipeEndFlag},</if>
			<if test="number != null  ">#{number},</if>
			<if test="weight != null  ">#{weight},</if>
			<if test="outfieldFlag != null  and outfieldFlag != ''  ">#{outfieldFlag},</if>
         </trim>
    </insert>
	 
    <update id="updatePipMaterial" parameterType="PipMaterial">
        update pipe_pip_material
        <trim prefix="SET" suffixOverrides=",">
            <if test="midOid != null  ">mid_oid = #{midOid},</if>
            <if test="isDelete != null  ">is_delete = #{isDelete},</if>
            <if test="isUpdate != null  ">is_update = #{isUpdate},</if>
            <if test="shapeShipId != null  ">shape_ship_id = #{shapeShipId},</if>
            <if test="assemblyPipeId != null  ">assembly_pipe_id = #{assemblyPipeId},</if>
            <if test="componentId != null  ">component_id = #{componentId},</if>
            <if test="pipeEndFlag != null  and pipeEndFlag != ''  ">pipe_end_flag = #{pipeEndFlag},</if>
            <if test="number != null  ">number = #{number},</if>
            <if test="weight != null  ">weight = #{weight},</if>
            <if test="outfieldFlag != null  and outfieldFlag != ''  ">outfield_flag = #{outfieldFlag},</if>
        </trim>
        where old_id = #{oldId}
    </update>

	<delete id="deletePipMaterialById" parameterType="Integer">
        delete from pipe_pip_material where old_id = #{oldId}
    </delete>
	
    <delete id="deletePipMaterialByIds" parameterType="String">
        delete from pipe_pip_material where old_id in 
        <foreach item="oldId" collection="array" open="(" separator="," close=")">
            #{oldId}
        </foreach>
    </delete>
    
</mapper>