<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.pipe.processPlan.mapper.ProcessPlanMapper">
    
    <resultMap type="ProcessPlan" id="ProcessPlanResult">
        <result property="id"    column="id"    />
        <result property="serialNumber"    column="serial_number"    />
        <result property="planName"    column="plan_name"    />
        <result property="shipName"    column="ship_name"    />
        <result property="batchName"    column="batch_name"    />
        <result property="batchDescription"    column="batch_description"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="stocks"    column="stocks"    />
        <result property="sections"    column="sections"    />
        <result property="processPlace"    column="process_place"    />
        <result property="number"    column="number"    />
        <result property="lightBodyPipe"    column="light_body_pipe"    />
        <result property="planStart"    column="plan_start"    />
        <result property="planEnd"    column="plan_end"    />
        <result property="actualStart"    column="actual_start"    />
        <result property="actualEnd"    column="actual_end"    />
        <result property="middleDate"    column="middle_date"    />
        <result property="sendPicTime"    column="send_pic_time"    />
        <result property="remark"    column="remark"    />
        <result property="isFinished"    column="is_finished"    />
    </resultMap>
	
	<sql id="selectProcessPlanVo">
        select id, serial_number, plan_name, ship_name, batch_name, batch_description, create_time, update_time, stocks, sections, process_place, number, light_body_pipe, plan_start, plan_end, actual_start, actual_end, middle_date, send_pic_time, remark, is_finished from pipe_process_plan
    </sql>
	
    <select id="selectProcessPlanList" parameterType="ProcessPlan" resultMap="ProcessPlanResult">
        <include refid="selectProcessPlanVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="serialNumber != null  and serialNumber != '' "> and serial_number = #{serialNumber}</if>
             <if test="planName != null  and planName != '' "> and plan_name = #{planName}</if>
             <if test="shipName != null  and shipName != '' "> and ship_name = #{shipName}</if>
             <if test="batchName != null  and batchName != '' "> and batch_name = #{batchName}</if>
             <if test="batchDescription != null  and batchDescription != '' "> and batch_description = #{batchDescription}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="stocks != null  and stocks != '' "> and stocks = #{stocks}</if>
             <if test="sections != null  and sections != '' "> and sections = #{sections}</if>
             <if test="processPlace != null  and processPlace != '' "> and process_place = #{processPlace}</if>
             <if test="number != null "> and number = #{number}</if>
             <if test="lightBodyPipe != null  and lightBodyPipe != '' "> and light_body_pipe = #{lightBodyPipe}</if>
             <if test="planStart != null "> and plan_start = #{planStart}</if>
             <if test="planEnd != null "> and plan_end = #{planEnd}</if>
             <if test="actualStart != null "> and actual_start = #{actualStart}</if>
             <if test="actualEnd != null "> and actual_end = #{actualEnd}</if>
             <if test="middleDate != null "> and middle_date = #{middleDate}</if>
             <if test="sendPicTime != null "> and send_pic_time = #{sendPicTime}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
             <if test="isFinished != null "> and is_finished = #{isFinished}</if>
         </where>
    </select>
    
    <select id="selectProcessPlanById" parameterType="Integer" resultMap="ProcessPlanResult">
        <include refid="selectProcessPlanVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertProcessPlan" parameterType="ProcessPlan">
        insert into pipe_process_plan
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="serialNumber != null  and serialNumber != ''  ">serial_number,</if>
			<if test="planName != null  and planName != ''  ">plan_name,</if>
			<if test="shipName != null  and shipName != ''  ">ship_name,</if>
			<if test="batchName != null  and batchName != ''  ">batch_name,</if>
			<if test="batchDescription != null  and batchDescription != ''  ">batch_description,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="stocks != null  and stocks != ''  ">stocks,</if>
			<if test="sections != null  and sections != ''  ">sections,</if>
			<if test="processPlace != null  and processPlace != ''  ">process_place,</if>
			<if test="number != null  ">number,</if>
			<if test="lightBodyPipe != null  and lightBodyPipe != ''  ">light_body_pipe,</if>
			<if test="planStart != null  ">plan_start,</if>
			<if test="planEnd != null  ">plan_end,</if>
			<if test="actualStart != null  ">actual_start,</if>
			<if test="actualEnd != null  ">actual_end,</if>
			<if test="middleDate != null  ">middle_date,</if>
			<if test="sendPicTime != null  ">send_pic_time,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
			<if test="isFinished != null  ">is_finished,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="serialNumber != null  and serialNumber != ''  ">#{serialNumber},</if>
			<if test="planName != null  and planName != ''  ">#{planName},</if>
			<if test="shipName != null  and shipName != ''  ">#{shipName},</if>
			<if test="batchName != null  and batchName != ''  ">#{batchName},</if>
			<if test="batchDescription != null  and batchDescription != ''  ">#{batchDescription},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="stocks != null  and stocks != ''  ">#{stocks},</if>
			<if test="sections != null  and sections != ''  ">#{sections},</if>
			<if test="processPlace != null  and processPlace != ''  ">#{processPlace},</if>
			<if test="number != null  ">#{number},</if>
			<if test="lightBodyPipe != null  and lightBodyPipe != ''  ">#{lightBodyPipe},</if>
			<if test="planStart != null  ">#{planStart},</if>
			<if test="planEnd != null  ">#{planEnd},</if>
			<if test="actualStart != null  ">#{actualStart},</if>
			<if test="actualEnd != null  ">#{actualEnd},</if>
			<if test="middleDate != null  ">#{middleDate},</if>
			<if test="sendPicTime != null  ">#{sendPicTime},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
			<if test="isFinished != null  ">#{isFinished},</if>
         </trim>
    </insert>
	 
    <update id="updateProcessPlan" parameterType="ProcessPlan">
        update pipe_process_plan
        <trim prefix="SET" suffixOverrides=",">
            <if test="serialNumber != null  and serialNumber != ''  ">serial_number = #{serialNumber},</if>
            <if test="planName != null  and planName != ''  ">plan_name = #{planName},</if>
            <if test="shipName != null  and shipName != ''  ">ship_name = #{shipName},</if>
            <if test="batchName != null  and batchName != ''  ">batch_name = #{batchName},</if>
            <if test="batchDescription != null  and batchDescription != ''  ">batch_description = #{batchDescription},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="stocks != null  and stocks != ''  ">stocks = #{stocks},</if>
            <if test="sections != null  and sections != ''  ">sections = #{sections},</if>
            <if test="processPlace != null  and processPlace != ''  ">process_place = #{processPlace},</if>
            <if test="number != null  ">number = #{number},</if>
            <if test="lightBodyPipe != null  and lightBodyPipe != ''  ">light_body_pipe = #{lightBodyPipe},</if>
            <if test="planStart != null  ">plan_start = #{planStart},</if>
            <if test="planEnd != null  ">plan_end = #{planEnd},</if>
            <if test="actualStart != null  ">actual_start = #{actualStart},</if>
            <if test="actualEnd != null  ">actual_end = #{actualEnd},</if>
            <if test="middleDate != null  ">middle_date = #{middleDate},</if>
            <if test="sendPicTime != null  ">send_pic_time = #{sendPicTime},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="isFinished != null  ">is_finished = #{isFinished},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteProcessPlanById" parameterType="Integer">
        delete from pipe_process_plan where id = #{id}
    </delete>
	
    <delete id="deleteProcessPlanByIds" parameterType="String">
        delete from pipe_process_plan where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>