<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-unit-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">单元名称：</label>
				<div class="col-sm-8">
					<input id="name" name="name" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">号船代号：</label>
				<div class="col-sm-8">
					<input id="shipCode" name="shipCode" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">p批次id：</label>
				<div class="col-sm-8">
					<input id="batchId" name="batchId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">批次名称：</label>
				<div class="col-sm-8">
					<input id="batchName" name="batchName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">计划id-process_id：</label>
				<div class="col-sm-8">
					<input id="planId" name="planId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">管形态：</label>
				<div class="col-sm-8">
					<input id="pipeShape" name="pipeShape" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">包含管件数：</label>
				<div class="col-sm-8">
					<input id="pipeNumber" name="pipeNumber" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">下料工段：</label>
				<div class="col-sm-8">
					<input id="cutSection" name="cutSection" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">j加工工段：</label>
				<div class="col-sm-8">
					<input id="processSection" name="processSection" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">加工顺序id：</label>
				<div class="col-sm-8">
					<input id="processOrderId" name="processOrderId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">当前所在工序id：</label>
				<div class="col-sm-8">
					<input id="processStageId" name="processStageId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">下一工序id：</label>
				<div class="col-sm-8">
					<input id="nextStageId" name="nextStageId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">未加工管数量：</label>
				<div class="col-sm-8">
					<input id="unprocessNumber" name="unprocessNumber" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">j加工中管数：</label>
				<div class="col-sm-8">
					<input id="processingNumber" name="processingNumber" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">加工完成管数量：</label>
				<div class="col-sm-8">
					<input id="processedNumber" name="processedNumber" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">更新时间：</label>
				<div class="col-sm-8">
					<input id="updateTime" name="updateTime" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">是否完工：</label>
				<div class="col-sm-8">
					<input id="isFinished" name="isFinished" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
        ctx = ctx + webPrefix+"/";
		var prefix = ctx + "pipe/unit";
		$("#form-unit-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-unit-add').serialize());
	        }
	    }
	</script>
</body>
</html>
