<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								单元名称：<input type="text" name="name"/>
							</li>

							<li>
								号船代号：<input type="text" name="shipCode"/>
							</li>
							<li>
								批次名称：<input type="text" name="batchName"/>
							</li>
							<li>
								计划id<input type="text" name="planId"/>
							</li>

							<li>
								备注：<input type="text" name="remark"/>
							</li>

							<li>
								下料工段：<input type="text" name="cutSection"/>
							</li>

							<li>
								加工工段：<input type="text" name="processSection"/>
							</li>

							<li>
								加工顺序id：<input type="text" name="processOrderId"/>
							</li>

							<li>
								当前所在工序id：<input type="text" name="processStageId"/>
							</li>

							<li>
								下一工序id：<input type="text" name="nextStageId"/>
							</li>
							<li>
								更新时间：<input type="text" name="updateTime"/>
							</li>

							<li>
								是否完工：<input type="text" name="isFinished"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="pipe:unit:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="pipe:unit:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="pipe:unit:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="pipe:unit:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('pipe:unit:edit')}]];
        var removeFlag = [[${@permission.hasPermi('pipe:unit:remove')}]];
        ctx = ctx + webPrefix+"/";
        var prefix = ctx + "pipe/unit";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "加工单元",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : 'id',
					visible: false
				},
				{
					field : 'name', 
					title : '单元名称',
					sortable: true
				},
				{
					field : 'shipCode', 
					title : '号船代号',
					sortable: true
				},
				{
					field : 'batchName', 
					title : '批次名称',
					sortable: true
				},
				{
					field : 'planId', 
					title : '计划',
					sortable: true
				},
				{
					field : 'remark', 
					title : '备注',
					sortable: true
				},
				{
					field : 'pipeNumber', 
					title : '包含管件',
					sortable: true
				},
				{
					field : 'cutSection', 
					title : '下料工段',
					sortable: true
				},
				{
					field : 'processSection', 
					title : '加工工段',
					sortable: true
				},
				{
					field : 'processOrderId', 
					title : '加工顺序',
					sortable: true
				},
				{
					field : 'processStageId', 
					title : '当前工序',
					sortable: true
				},
				{
					field : 'nextStageId', 
					title : '下一工序',
					sortable: true
				},
				{
					field : 'unprocessNumber', 
					title : '未开始管数量',
					sortable: true
				},
				{
					field : 'processingNumber', 
					title : '加工中管数',
					sortable: true
				},
				{
					field : 'processedNumber', 
					title : '完成管数量',
					sortable: true
				},
				{
					field : 'updateTime', 
					title : '更新时间',
					sortable: true
				},
				{
					field : 'isFinished', 
					title : '是否完工',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>