<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-middleStatus-edit" th:object="${middleStatus}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">错误描述：</label>
				<div class="col-sm-8">
					<input id="infor" name="infor" th:field="*{infor}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">涉及表格：</label>
				<div class="col-sm-8">
					<input id="relateTable" name="relateTable" th:field="*{relateTable}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">涉及数据：</label>
				<div class="col-sm-8">
					<input id="relateData" name="relateData" th:field="*{relateData}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<input id="createTime" name="createTime" th:field="*{createTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">操作类型：</label>
				<div class="col-sm-8">
					<input id="operateType" name="operateType" th:field="*{operateType}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">标记已查看：</label>
				<div class="col-sm-8">
					<input id="isRead" name="isRead" th:field="*{isRead}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
        ctx = ctx + webPrefix+"/";
		var prefix = ctx + "process/middleStatus";
		$("#form-middleStatus-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-middleStatus-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
