<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								单元pipe_unit 的id：<input type="text" name="unitId"/>
							</li>

							<li>
								所属批次：<input type="text" name="batchId"/>
							</li>

							<li>
								当前工序：<input type="text" name="processStage"/>
							</li>

							<li>
								当前工序排几，从下料算1开始算：<input type="text" name="processIndex"/>
							</li>

							<li>
								加工中管数量：<input type="text" name="pipeProcessingNumber"/>
							</li>

							<li>
								加工完成管数量：<input type="text" name="pipeFinishedNumber"/>
							</li>

							<li>
								单元派工id：<input type="text" name="arrangeId"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="process:unitProcessing:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="process:unitProcessing:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="process:unitProcessing:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="process:unitProcessing:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('process:unitProcessing:edit')}]];
        var removeFlag = [[${@permission.hasPermi('process:unitProcessing:remove')}]];
        ctx = ctx + webPrefix+"/";
        var prefix = ctx + "process/unitProcessing";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "单元加工记录",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '记录id',
					visible: false
				},
				{
					field : 'unitId', 
					title : '单元pipe_unit 的id',
					sortable: true
				},
				{
					field : 'batchId', 
					title : '所属批次',
					sortable: true
				},
				{
					field : 'processStage', 
					title : '当前工序',
					sortable: true
				},
				{
					field : 'processIndex', 
					title : '当前工序排几，从下料算1开始算',
					sortable: true
				},
				{
					field : 'pipeProcessingNumber', 
					title : '加工中管数量',
					sortable: true
				},
				{
					field : 'pipeFinishedNumber', 
					title : '加工完成管数量',
					sortable: true
				},
				{
					field : 'arrangeId', 
					title : '单元派工id',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>